<a href="https://colab.research.google.com/github/Pravallika-0202/Cancer-Prediction/blob/main/SparkFlow_Ecommerce_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.2)
Requirement already satisfied: py4j<0.10.9.10,>=0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("SparkFlow_Ecommerce_Pipeline") \
    .master("local[*]") \
    .getOrCreate()

sc = spark.sparkContext

print("Spark Version:", spark.version)
print("Master:", sc.master)
print("App Name:", sc.appName)

Spark Version: 4.0.2
Master: local[*]
App Name: SparkFlow_Ecommerce_Pipeline

Environment Choice: Google Colab with PySpark

This project uses Google Colab with PySpark installed via pip. Spark runs in local mode (local[*]), simulating the Driver and Executors on a single machine. This setup allows development and demonstration of Spark architecture, transformations, Spark SQL, and distributed processing concepts without requiring cluster provisioning.

Spark Version: 4.0.2
Execution Mode: local[*]

What role does the Driver play?

The Driver is the control center of a Spark application.

It:

Creates the SparkSession

Defines transformations and builds the DAG (Directed Acyclic Graph)

Communicates with the Cluster Manager to request resources

Schedules tasks to Executors

Collects results from Executors when actions are triggered

In local mode (local[*]), the notebook process acts as the Driver.

What are Executors, and why are they long-lived?

Executors are worker processes that:

Execute tasks sent by the Driver

Store data in memory (caching/persisting)

Handle shuffle operations

Return results back to the Driver

They are long-lived because:

Starting/stopping processes repeatedly is expensive

Keeping executors alive allows caching intermediate results

Reduces overhead and improves performance

In local mode, executor threads run within the same machine.

What is a Cluster Manager, and how does Spark interact with it?

A Cluster Manager is responsible for allocating computing resources.

Examples:

Standalone

YARN

Kubernetes

Databricks-managed clusters

Spark Driver requests resources (CPU, memory) from the Cluster Manager.
The Cluster Manager launches Executors on available nodes.

In this Colab setup:
There is no external cluster manager — Spark runs in local mode.

In [7]:
from pyspark.sql import functions as F

data = spark.range(1, 1000000)

transformed = data.filter(F.col("id") % 2 == 0)

print("Transformation defined. No execution yet.")

# Now trigger execution
count_result = transformed.count()

print("Count of even numbers:", count_result)

Transformation defined. No execution yet.
Count of even numbers: 499999

In [9]:
import os

base_path = "/content/sparkflow_raw"
os.makedirs(base_path, exist_ok=True)

In [11]:
customers_data = """customer_id,first_name,last_name,email,signup_ts,country
C001,John,Doe,john@example.com,2023-01-10 10:00:00,Australia
C002,Jane,Smith,jane@example.com,2023-03-15 12:30:00,Australia
C003,Mike,Brown,mike@example.com,2022-11-05 09:15:00,USA
C004,Sarah,Wilson,sarah@example.com,2024-02-20 14:45:00,UK
"""

with open(f"{base_path}/customers.csv", "w") as f:
    f.write(customers_data)

In [12]:
products_data = """product_id,product_name,category,unit_price
P001,Laptop,Electronics,1200.50
P002,Headphones,Electronics,150.00
P003,Coffee Machine,Home Appliances,300.75
P004,Desk Chair,Furniture,220.40
"""

with open(f"{base_path}/products.csv", "w") as f:
    f.write(products_data)

In [13]:
orders_data = """
{"order_id":"O001","customer_id":"C001","product_id":"P001","quantity":"1","order_ts":"2023-02-01 11:00:00","platform":"Web"}
{"order_id":"O002","customer_id":"C002","product_id":"P002","quantity":"2","order_ts":"2023-04-01 15:20:00","platform":"Mobile"}
{"order_id":"O003","customer_id":"C001","product_id":"P003","quantity":"1","order_ts":"2023-05-10 09:00:00","platform":"Web"}
{"order_id":"O004","customer_id":"C003","product_id":"P004","quantity":"3","order_ts":"2022-12-15 16:40:00","platform":"Web"}
"""

with open(f"{base_path}/orders.json", "w") as f:
    f.write(orders_data)

In [14]:
from pyspark.sql.types import *

customers_schema = StructType([
    StructField("customer_id", StringType(), True),
    StructField("first_name", StringType(), True),
    StructField("last_name", StringType(), True),
    StructField("email", StringType(), True),
    StructField("signup_ts", StringType(), True),
    StructField("country", StringType(), True),
])

products_schema = StructType([
    StructField("product_id", StringType(), True),
    StructField("product_name", StringType(), True),
    StructField("category", StringType(), True),
    StructField("unit_price", StringType(), True),
])

orders_schema = StructType([
    StructField("order_id", StringType(), True),
    StructField("customer_id", StringType(), True),
    StructField("product_id", StringType(), True),
    StructField("quantity", StringType(), True),
    StructField("order_ts", StringType(), True),
    StructField("platform", StringType(), True),
])

In [15]:
customers_raw = spark.read \
    .option("header", "true") \
    .schema(customers_schema) \
    .csv(f"{base_path}/customers.csv")

products_raw = spark.read \
    .option("header", "true") \
    .schema(products_schema) \
    .csv(f"{base_path}/products.csv")

orders_raw = spark.read \
    .schema(orders_schema) \
    .json(f"{base_path}/orders.json")

In [16]:
customers_raw.printSchema()
customers_raw.show()

products_raw.printSchema()
products_raw.show()

orders_raw.printSchema()
orders_raw.show()

root
 |-- customer_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- signup_ts: string (nullable = true)
 |-- country: string (nullable = true)

+-----------+----------+---------+-----------------+-------------------+---------+
|customer_id|first_name|last_name|            email|          signup_ts|  country|
+-----------+----------+---------+-----------------+-------------------+---------+
|       C001|      John|      Doe| john@example.com|2023-01-10 10:00:00|Australia|
|       C002|      Jane|    Smith| jane@example.com|2023-03-15 12:30:00|Australia|
|       C003|      Mike|    Brown| mike@example.com|2022-11-05 09:15:00|      USA|
|       C004|     Sarah|   Wilson|sarah@example.com|2024-02-20 14:45:00|       UK|
+-----------+----------+---------+-----------------+-------------------+---------+

root
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- unit_price: string (nullable = true)

+----------+--------------+---------------+----------+
|product_id|  product_name|       category|unit_price|
+----------+--------------+---------------+----------+
|      P001|        Laptop|    Electronics|   1200.50|
|      P002|    Headphones|    Electronics|    150.00|
|      P003|Coffee Machine|Home Appliances|    300.75|
|      P004|    Desk Chair|      Furniture|    220.40|
+----------+--------------+---------------+----------+

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- order_ts: string (nullable = true)
 |-- platform: string (nullable = true)

+--------+-----------+----------+--------+-------------------+--------+
|order_id|customer_id|product_id|quantity|           order_ts|platform|
+--------+-----------+----------+--------+-------------------+--------+
|    O001|       C001|      P001|       1|2023-02-01 11:00:00|     Web|
|    O002|       C002|      P002|       2|2023-04-01 15:20:00|  Mobile|
|    O003|       C001|      P003|       1|2023-05-10 09:00:00|     Web|
|    O004|       C003|      P004|       3|2022-12-15 16:40:00|     Web|
+--------+-----------+----------+--------+-------------------+--------+

Data was read using Spark’s distributed readers

Explicit schemas were defined to avoid schema inference cost

Raw datasets are preserved without transformations

Spark automatically partitions data internally

In [17]:
orders_rdd = orders_raw.rdd

print("Number of partitions:", orders_rdd.getNumPartitions())

Number of partitions: 1

In [18]:
def safe_int(x):
    try:
        return int(x)
    except:
        return 0

quantity_rdd = orders_rdd.map(lambda row: safe_int(row["quantity"]))

quantity_rdd.collect()

[1, 2, 1, 3]

In [19]:
positive_qty_rdd = quantity_rdd.filter(lambda q: q > 0)

positive_qty_rdd.collect()

[1, 2, 1, 3]

In [20]:
total_quantity = positive_qty_rdd.reduce(lambda a, b: a + b)

print("Total quantity across all orders:", total_quantity)

Total quantity across all orders: 7

In [21]:
total_orders = orders_rdd.map(lambda row: 1).reduce(lambda a, b: a + b)

print("Total number of orders:", total_orders)

Total number of orders: 4

Task 4 – RDD Fundamentals

In this step, the orders DataFrame was converted into an RDD using .rdd. This exposes Spark’s low-level distributed abstraction.

The following RDD operations were demonstrated:

map() – Applied a transformation to each record (extracting quantity).

filter() – Filtered records based on a condition (positive quantities).

reduce() – Aggregated values across partitions to compute totals.

RDDs provide fine-grained control over distributed data processing and allow arbitrary transformations. However, they lack the Catalyst optimizer and Tungsten execution engine available in Spark SQL and DataFrames. As a result, RDD operations are generally less efficient and more verbose compared to DataFrame APIs.

In [22]:
from pyspark.sql import functions as F

# Clean customers
customers = (
    customers_raw
    .filter(F.col("customer_id").isNotNull())
    .withColumn("signup_ts", F.to_timestamp("signup_ts"))
    .dropDuplicates(["customer_id"])
)

# Clean products
products = (
    products_raw
    .filter(F.col("product_id").isNotNull())
    .withColumn("unit_price", F.col("unit_price").cast("double"))
    .dropDuplicates(["product_id"])
)

# Clean orders
orders = (
    orders_raw
    .filter(F.col("order_id").isNotNull())
    .filter(F.col("customer_id").isNotNull())
    .filter(F.col("product_id").isNotNull())
    .withColumn("quantity", F.col("quantity").cast("int"))
    .withColumn("order_ts", F.to_timestamp("order_ts"))
    .filter(F.col("quantity") > 0)
    .dropDuplicates(["order_id"])
)

In [23]:
orders.printSchema()
orders.show()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- order_ts: timestamp (nullable = true)
 |-- platform: string (nullable = true)

+--------+-----------+----------+--------+-------------------+--------+
|order_id|customer_id|product_id|quantity|           order_ts|platform|
+--------+-----------+----------+--------+-------------------+--------+
|    O001|       C001|      P001|       1|2023-02-01 11:00:00|     Web|
|    O002|       C002|      P002|       2|2023-04-01 15:20:00|  Mobile|
|    O003|       C001|      P003|       1|2023-05-10 09:00:00|     Web|
|    O004|       C003|      P004|       3|2022-12-15 16:40:00|     Web|
+--------+-----------+----------+--------+-------------------+--------+

In [24]:
fact_orders = (
    orders.alias("o")
    .join(products.alias("p"), on="product_id", how="left")
)

In [25]:
fact_orders = (
    fact_orders
    .withColumn("order_value", F.col("quantity") * F.col("unit_price"))
    .withColumn("is_high_value_order", F.col("order_value") >= 500)
    .withColumn("order_year", F.year("order_ts"))
)

In [26]:
fact_orders.show()

+----------+--------+-----------+--------+-------------------+--------+--------------+---------------+----------+-----------+-------------------+----------+
|product_id|order_id|customer_id|quantity|           order_ts|platform|  product_name|       category|unit_price|order_value|is_high_value_order|order_year|
+----------+--------+-----------+--------+-------------------+--------+--------------+---------------+----------+-----------+-------------------+----------+
|      P001|    O001|       C001|       1|2023-02-01 11:00:00|     Web|        Laptop|    Electronics|    1200.5|     1200.5|               true|      2023|
|      P002|    O002|       C002|       2|2023-04-01 15:20:00|  Mobile|    Headphones|    Electronics|     150.0|      300.0|              false|      2023|
|      P003|    O003|       C001|       1|2023-05-10 09:00:00|     Web|Coffee Machine|Home Appliances|    300.75|     300.75|              false|      2023|
|      P004|    O004|       C003|       3|2022-12-15 16:40:00|     Web|    Desk Chair|      Furniture|     220.4|      661.2|               true|      2022|
+----------+--------+-----------+--------+-------------------+--------+--------------+---------------+----------+-----------+-------------------+----------+

In [27]:
fact_orders.select("order_id", "customer_id", "order_value").show()

+--------+-----------+-----------+
|order_id|customer_id|order_value|
+--------+-----------+-----------+
|    O001|       C001|     1200.5|
|    O002|       C002|      300.0|
|    O003|       C001|     300.75|
|    O004|       C003|      661.2|
+--------+-----------+-----------+

In [28]:
high_value_orders = fact_orders.filter(F.col("is_high_value_order") == True)
high_value_orders.show()

+----------+--------+-----------+--------+-------------------+--------+------------+-----------+----------+-----------+-------------------+----------+
|product_id|order_id|customer_id|quantity|           order_ts|platform|product_name|   category|unit_price|order_value|is_high_value_order|order_year|
+----------+--------+-----------+--------+-------------------+--------+------------+-----------+----------+-----------+-------------------+----------+
|      P001|    O001|       C001|       1|2023-02-01 11:00:00|     Web|      Laptop|Electronics|    1200.5|     1200.5|               true|      2023|
|      P004|    O004|       C003|       3|2022-12-15 16:40:00|     Web|  Desk Chair|  Furniture|     220.4|      661.2|               true|      2022|
+----------+--------+-----------+--------+-------------------+--------+------------+-----------+----------+-----------+-------------------+----------+

In [29]:
yearly_revenue = (
    fact_orders
    .groupBy("order_year")
    .agg(
        F.sum("order_value").alias("total_revenue"),
        F.countDistinct("order_id").alias("order_count")
    )
    .orderBy("order_year")
)

yearly_revenue.show()

+----------+-------------+-----------+
|order_year|total_revenue|order_count|
+----------+-------------+-----------+
|      2022|        661.2|          1|
|      2023|      1801.25|          3|
+----------+-------------+-----------+

Task 5 – DataFrame Transformations

This stage converts raw datasets into cleaned analytical tables.

Data quality improvements included:

Removing null identifiers

Casting numeric fields (quantity, unit_price)

Converting timestamp fields to proper datetime types

Removing duplicate records

Orders were joined with products to create a fact table. Derived columns were created:

order_value = quantity × unit_price

is_high_value_order = Boolean flag for revenue ≥ 500

order_year extracted from timestamp

Core Spark operations demonstrated:

select()

withColumn()

filter()

groupBy()

agg()

These transformations use Spark SQL’s Catalyst optimizer, making them more efficient than equivalent RDD operations.

In [30]:
customers.createOrReplaceTempView("customers")
products.createOrReplaceTempView("products")
orders.createOrReplaceTempView("orders")
fact_orders.createOrReplaceTempView("fact_orders")

In [31]:
top_products_sql = spark.sql("""
SELECT
    product_id,
    SUM(quantity) AS total_units_sold,
    SUM(order_value) AS total_revenue
FROM fact_orders
GROUP BY product_id
ORDER BY total_revenue DESC
""")

top_products_sql.show()

+----------+----------------+-------------+
|product_id|total_units_sold|total_revenue|
+----------+----------------+-------------+
|      P001|               1|       1200.5|
|      P004|               3|        661.2|
|      P003|               1|       300.75|
|      P002|               2|        300.0|
+----------+----------------+-------------+

In [32]:
yearly_revenue_sql = spark.sql("""
SELECT
    order_year,
    SUM(order_value) AS yearly_revenue,
    COUNT(DISTINCT order_id) AS order_count
FROM fact_orders
GROUP BY order_year
ORDER BY order_year
""")

yearly_revenue_sql.show()

+----------+--------------+-----------+
|order_year|yearly_revenue|order_count|
+----------+--------------+-----------+
|      2022|         661.2|          1|
|      2023|       1801.25|          3|
+----------+--------------+-----------+

In [33]:
repeat_customers_sql = spark.sql("""
SELECT
    customer_id,
    COUNT(DISTINCT order_id) AS number_of_orders,
    SUM(order_value) AS lifetime_value
FROM fact_orders
GROUP BY customer_id
HAVING COUNT(DISTINCT order_id) > 1
ORDER BY lifetime_value DESC
""")

repeat_customers_sql.show()

+-----------+----------------+--------------+
|customer_id|number_of_orders|lifetime_value|
+-----------+----------------+--------------+
|       C001|               2|       1501.25|
+-----------+----------------+--------------+

In [34]:
yearly_revenue_sql.explain(True)

== Parsed Logical Plan ==
'Sort ['order_year ASC NULLS FIRST], true
+- 'Aggregate ['order_year], ['order_year, 'SUM('order_value) AS yearly_revenue#768, 'COUNT(distinct 'order_id) AS order_count#769]
   +- 'UnresolvedRelation [fact_orders], [], false

== Analyzed Logical Plan ==
order_year: int, yearly_revenue: double, order_count: bigint
Sort [order_year#182 ASC NULLS FIRST], true
+- Aggregate [order_year#182], [order_year#182, sum(order_value#180) AS yearly_revenue#768, count(distinct order_id#19) AS order_count#769L]
   +- SubqueryAlias fact_orders
      +- View (`fact_orders`, [product_id#21, order_id#19, customer_id#20, quantity#103, order_ts#104, platform#24, product_name#16, category#17, unit_price#102, order_value#180, is_high_value_order#181, order_year#182])
         +- Project [product_id#21, order_id#19, customer_id#20, quantity#103, order_ts#104, platform#24, product_name#16, category#17, unit_price#102, order_value#180, is_high_value_order#181, year(cast(order_ts#104 as date)) AS order_year#182]
            +- Project [product_id#21, order_id#19, customer_id#20, quantity#103, order_ts#104, platform#24, product_name#16, category#17, unit_price#102, order_value#180, (order_value#180 >= cast(500 as double)) AS is_high_value_order#181]
               +- Project [product_id#21, order_id#19, customer_id#20, quantity#103, order_ts#104, platform#24, product_name#16, category#17, unit_price#102, (cast(quantity#103 as double) * unit_price#102) AS order_value#180]
                  +- Project [product_id#21, order_id#19, customer_id#20, quantity#103, order_ts#104, platform#24, product_name#16, category#17, unit_price#102]
                     +- Join LeftOuter, (product_id#21 = product_id#15)
                        :- SubqueryAlias o
                        :  +- Deduplicate [order_id#19]
                        :     +- Filter (quantity#103 > 0)
                        :        +- Project [order_id#19, customer_id#20, product_id#21, quantity#103, to_timestamp(order_ts#23, None, TimestampType, Some(Etc/UTC), true) AS order_ts#104, platform#24]
                        :           +- Project [order_id#19, customer_id#20, product_id#21, cast(quantity#22 as int) AS quantity#103, order_ts#23, platform#24]
                        :              +- Filter isnotnull(product_id#21)
                        :                 +- Filter isnotnull(customer_id#20)
                        :                    +- Filter isnotnull(order_id#19)
                        :                       +- Relation [order_id#19,customer_id#20,product_id#21,quantity#22,order_ts#23,platform#24] json
                        +- SubqueryAlias p
                           +- Deduplicate [product_id#15]
                              +- Project [product_id#15, product_name#16, category#17, cast(unit_price#18 as double) AS unit_price#102]
                                 +- Filter isnotnull(product_id#15)
                                    +- Relation [product_id#15,product_name#16,category#17,unit_price#18] csv

== Optimized Logical Plan ==
Sort [order_year#182 ASC NULLS FIRST], true
+- Aggregate [order_year#182], [order_year#182, sum(order_value#180) AS yearly_revenue#768, count(distinct order_id#19) AS order_count#769L]
   +- Project [order_id#19, (cast(quantity#1005 as double) * unit_price#1015) AS order_value#180, year(cast(order_ts#1007 as date)) AS order_year#182]
      +- Join LeftOuter, (product_id#1003 = product_id#15)
         :- Aggregate [order_id#19], [order_id#19, first(product_id#21, false) AS product_id#1003, first(quantity#103, false) AS quantity#1005, first(order_ts#104, false) AS order_ts#1007]
         :  +- Project [order_id#19, product_id#21, cast(quantity#22 as int) AS quantity#103, cast(order_ts#23 as timestamp) AS order_ts#104]
         :     +- Filter (isnotnull(quantity#22) AND ((isnotnull(order_id#19) AND isnotnull(customer_id#20)) AND (isnotnull(product_id#21) AND (cast(quantity#22 as int) > 0))))
         :        +- Relation [order_id#19,customer_id#20,product_id#21,quantity#22,order_ts#23,platform#24] json
         +- Aggregate [product_id#15], [product_id#15, first(unit_price#102, false) AS unit_price#1015]
            +- Project [product_id#15, cast(unit_price#18 as double) AS unit_price#102]
               +- Filter isnotnull(product_id#15)
                  +- Relation [product_id#15,product_name#16,category#17,unit_price#18] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [order_year#182 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(order_year#182 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=2418]
      +- HashAggregate(keys=[order_year#182], functions=[sum(order_value#180), count(distinct order_id#19)], output=[order_year#182, yearly_revenue#768, order_count#769L])
         +- Exchange hashpartitioning(order_year#182, 200), ENSURE_REQUIREMENTS, [plan_id=2415]
            +- HashAggregate(keys=[order_year#182], functions=[merge_sum(order_value#180), partial_count(distinct order_id#19)], output=[order_year#182, sum#792, count#795L])
               +- HashAggregate(keys=[order_year#182, order_id#19], functions=[merge_sum(order_value#180)], output=[order_year#182, order_id#19, sum#792])
                  +- HashAggregate(keys=[order_year#182, order_id#19], functions=[partial_sum(order_value#180)], output=[order_year#182, order_id#19, sum#792])
                     +- Project [order_id#19, (cast(quantity#1005 as double) * unit_price#1015) AS order_value#180, year(cast(order_ts#1007 as date)) AS order_year#182]
                        +- BroadcastHashJoin [product_id#1003], [product_id#15], LeftOuter, BuildRight, false
                           :- SortAggregate(key=[order_id#19], functions=[first(product_id#21, false), first(quantity#103, false), first(order_ts#104, false)], output=[order_id#19, product_id#1003, quantity#1005, order_ts#1007])
                           :  +- Sort [order_id#19 ASC NULLS FIRST], false, 0
                           :     +- Exchange hashpartitioning(order_id#19, 200), ENSURE_REQUIREMENTS, [plan_id=2402]
                           :        +- SortAggregate(key=[order_id#19], functions=[partial_first(product_id#21, false), partial_first(quantity#103, false), partial_first(order_ts#104, false)], output=[order_id#19, first#1024, valueSet#1025, first#1026, valueSet#1027, first#1028, valueSet#1029])
                           :           +- Sort [order_id#19 ASC NULLS FIRST], false, 0
                           :              +- Project [order_id#19, product_id#21, cast(quantity#22 as int) AS quantity#103, cast(order_ts#23 as timestamp) AS order_ts#104]
                           :                 +- Filter ((((isnotnull(quantity#22) AND isnotnull(order_id#19)) AND isnotnull(customer_id#20)) AND isnotnull(product_id#21)) AND (cast(quantity#22 as int) > 0))
                           :                    +- FileScan json [order_id#19,customer_id#20,product_id#21,quantity#22,order_ts#23] Batched: false, DataFilters: [isnotnull(quantity#22), isnotnull(order_id#19), isnotnull(customer_id#20), isnotnull(product_id#..., Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/content/sparkflow_raw/orders.json], PartitionFilters: [], PushedFilters: [IsNotNull(quantity), IsNotNull(order_id), IsNotNull(customer_id), IsNotNull(product_id)], ReadSchema: struct<order_id:string,customer_id:string,product_id:string,quantity:string,order_ts:string>
                           +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),false), [plan_id=2408]
                              +- HashAggregate(keys=[product_id#15], functions=[first(unit_price#102, false)], output=[product_id#15, unit_price#1015])
                                 +- Exchange hashpartitioning(product_id#15, 200), ENSURE_REQUIREMENTS, [plan_id=2405]
                                    +- HashAggregate(keys=[product_id#15], functions=[partial_first(unit_price#102, false)], output=[product_id#15, first#1032, valueSet#1033])
                                       +- Project [product_id#15, cast(unit_price#18 as double) AS unit_price#102]
                                          +- Filter isnotnull(product_id#15)
                                             +- FileScan csv [product_id#15,unit_price#18] Batched: false, DataFilters: [isnotnull(product_id#15)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/sparkflow_raw/products.csv], PartitionFilters: [], PushedFilters: [IsNotNull(product_id)], ReadSchema: struct<product_id:string,unit_price:string>

Task 6 – Spark SQL Analytics

In this stage, cleaned DataFrames were registered as temporary views using createOrReplaceTempView().

Spark SQL was then used to perform analytical queries including:

Top-selling products by revenue

Yearly revenue aggregation

Identification of repeat customers

Spark SQL leverages the Catalyst Optimizer to transform SQL queries into efficient execution plans. Although the same results can be achieved using DataFrame APIs, SQL improves readability and is often preferred in collaborative data engineering environments where analysts and engineers share logic.

Execution plans were examined using .explain(True) to validate query optimization and stage planning.

In [35]:
output_path = "/content/sparkflow_output"

In [36]:
(
    yearly_revenue_sql
    .coalesce(1)   # small dataset only; never do this on large production data
    .write
    .mode("overwrite")   # overwrite because this is a batch rebuild
    .option("header", "true")
    .csv(f"{output_path}/analytics/yearly_revenue_csv")
)

In [37]:
(
    fact_orders
    .write
    .mode("overwrite")   # full batch overwrite
    .partitionBy("order_year")
    .parquet(f"{output_path}/warehouse/fact_orders_parquet")
)

In [38]:
import os

base = "/content/sparkflow_output/warehouse/fact_orders_parquet"

for root, dirs, files in os.walk(base):
    print(f"\nFolder: {root}")
    for d in dirs:
        print("  Subfolder:", d)
    for f in files:
        print("  File:", f)

Folder: /content/sparkflow_output/warehouse/fact_orders_parquet
  Subfolder: order_year=2022
  Subfolder: order_year=2023
  File: _SUCCESS
  File: ._SUCCESS.crc

Folder: /content/sparkflow_output/warehouse/fact_orders_parquet/order_year=2022
  File: part-00000-bb3a7c3a-2fde-45cf-aee8-66f1b436d67a.c000.snappy.parquet
  File: .part-00000-bb3a7c3a-2fde-45cf-aee8-66f1b436d67a.c000.snappy.parquet.crc

Folder: /content/sparkflow_output/warehouse/fact_orders_parquet/order_year=2023
  File: part-00000-bb3a7c3a-2fde-45cf-aee8-66f1b436d67a.c000.snappy.parquet
  File: .part-00000-bb3a7c3a-2fde-45cf-aee8-66f1b436d67a.c000.snappy.parquet.crc

In [41]:
parquet_test = spark.read.parquet("/content/sparkflow_output/warehouse/fact_orders_parquet")

In [42]:
parquet_test.select("order_year").distinct().show()

+----------+
|order_year|
+----------+
|      2023|
|      2022|
+----------+

In [43]:
customers.write.mode("overwrite").parquet(f"{output_path}/warehouse/dim_customers")
products.write.mode("overwrite").parquet(f"{output_path}/warehouse/dim_products")

In [44]:
import os

print("Analytics files:")
print(os.listdir(f"{output_path}/analytics/yearly_revenue_csv"))

print("\nWarehouse contents:")
print(os.listdir(f"{output_path}/warehouse/fact_orders_parquet"))

Analytics files:
['_SUCCESS', 'part-00000-d26bda5f-201a-46f4-a921-24300e3b89c0-c000.csv', '._SUCCESS.crc', '.part-00000-d26bda5f-201a-46f4-a921-24300e3b89c0-c000.csv.crc']

Warehouse contents:
['order_year=2022', '_SUCCESS', 'order_year=2023', '._SUCCESS.crc']

1. Why does Spark outperform traditional Python for large datasets?

Spark distributes data and computation across multiple cores or machines, allowing parallel processing. Traditional Python (e.g., Pandas) runs in a single process and is limited by memory and CPU of one machine. Spark also uses optimized execution engines (Catalyst and Tungsten), minimizes disk IO through in-memory computation, and reduces Python interpreter overhead by executing operations in JVM space. This makes Spark scalable for large datasets that exceed single-machine capacity.

2. Why is SparkSession considered the unified entry point in modern Spark applications?

SparkSession unifies previously separate contexts (SparkContext, SQLContext, HiveContext) into a single API. It manages configuration, DataFrame creation, SQL execution, catalog access, and integration with other Spark components. This simplifies application design and reduces fragmentation across APIs.

3. What would happen if the Driver fails during execution?

If the Driver fails, the Spark application fails because the Driver maintains the execution plan, schedules tasks, and coordinates executors. Executors cannot continue independently since they depend on the Driver for instructions. In production clusters, driver recovery mechanisms may exist, but typically a driver failure terminates the job.

4. Why is schema inference risky at scale?

Schema inference requires scanning data to detect types, which increases read time. Inconsistent or malformed records can lead to incorrect type detection. In distributed environments, evolving schemas across partitions can cause runtime errors. Explicit schema definition ensures predictable and stable behavior.

5. Why are RDDs considered more powerful but less commonly used than DataFrames?

RDDs allow arbitrary transformations and full control over distributed logic. However, they lack query optimization, type safety, and performance enhancements provided by Spark SQL. DataFrames are optimized by Catalyst and Tungsten, making them faster and more efficient for structured data processing. Therefore, DataFrames are preferred in most production workloads.

6. Why are Spark transformations considered lazy, and how does this improve performance?

Transformations in Spark are lazy, meaning they are not executed immediately. Instead, Spark builds a logical execution plan (DAG). Execution occurs only when an action is called. This allows Spark to optimize the entire plan, combine operations, eliminate unnecessary work, and reduce shuffles before execution.

7. When would Spark SQL be preferred over DataFrame APIs in a team environment?

Spark SQL is often preferred when teams include analysts and data engineers familiar with SQL. SQL queries are easier to read, review, and standardize across teams. It also allows clearer separation between business logic and application code.

8. Why is Parquet preferred in data lakes and medallion architectures?

Parquet is a columnar storage format that supports compression and predicate pushdown. It reduces IO by reading only required columns and improves query performance. Partitioning combined with Parquet enables efficient large-scale analytical processing.

9. How could this pipeline be extended for real-time data ingestion?

The pipeline could be extended using Structured Streaming. Instead of reading batch files, Spark could consume data from Kafka or event streams, apply the same transformations, and write incremental updates to partitioned Parquet or Delta tables with checkpointing for fault tolerance.

10. What trade-offs exist between RDDs and DataFrames?

RDDs provide maximum flexibility but lack automatic optimization and are generally slower for structured data. DataFrames offer high performance, optimization, and ease of use but restrict operations to structured schemas. In most modern applications, DataFrames are preferred unless low-level control is required.

11. Why is distributed computing harder to debug?

Failures can occur across multiple executors, making logs distributed and harder to trace. Data skew, shuffle issues, and serialization errors can occur unpredictably. Errors may not surface until large-scale execution, making debugging more complex than single-machine programs.

12. How does Spark enforce fault tolerance?

Spark tracks lineage information for RDDs and DataFrames. If a partition is lost, Spark can recompute it using the transformation history. Tasks are retried on failure, and shuffle data is managed to ensure recovery when possible.

13. What mistakes commonly cause Spark jobs to fail in production?

Common failures include:

Using collect() or toPandas() on large datasets (driver memory overflow)

Poor partitioning leading to data skew

Excessive small files

Broadcasting large datasets incorrectly

Ignoring schema drift

Lack of checkpointing in streaming jobs

Improper resource configuration